.text-transaction {
	font-size: 2rem;
}

/* ! sidabar */
[data-kt-app-layout="dark-sidebar"]
	.app-sidebar
	.menu
	.menu-item
	.menu-link.active {
	background-color: #66a491 !important;
}

[data-kt-app-layout="dark-sidebar"] .app-sidebar {
	background-color: #33866c !important;
}
[data-kt-app-layout="dark-sidebar"]
	.app-sidebar
	.menu
	.menu-item
	.menu-heading {
	color: rgba(255, 255, 255, 0.5) !important;
}

[data-kt-app-layout="dark-sidebar"] .app-sidebar .app-sidebar-logo {
	border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
}
[data-kt-app-layout="dark-sidebar"]
	.app-sidebar
	.menu
	.menu-item
	.menu-link
	.menu-title {
	color: white;
}

.app-sidebar-menu .menu > .menu-item.show {
	background-color: #11121e !important;
	border-radius: 7px;
}

.app-sidebar-menu .menu > .menu-item.show span.menu-link {
	background-color: #141419 !important;
}

/* ! Unit Overlay */
.unit-overlay {
	position: relative;
}

.unit-overlay .button-unit {
	position: relative !important;
	z-index: 2 !important;
}

.unit-overlay::after {
	content: "";
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.307);
	border-radius: 0.625rem;
	z-index: 1;
}

/* ! lightgallery */
.lg-container.lg-show {
	display: block;
	z-index: 9999 !important;
}

/* ! checkbox custom bootstrap table */
[name="btSelectItem"]:checked,
[name="btSelectAll"]:checked {
	background-color: var(--kt-form-check-input-checked-bg-color-solid);
}

[data-theme="light"] tr:hover .form-switch .form-check-input {
	/* background-image: var(--kt-form-switch-checked-bg-image) !important; */
}

[data-theme="dark"] tr:hover .form-switch .form-check-input {
	/* background-image: var(--kt-form-switch-bg-image-solid) !important; */
}

[data-theme="dark"] tr:hover .form-switch .form-check-input:checked {
	background-image: var(--kt-form-switch-checked-bg-image) !important;
}

[type="checkbox"]:not(.switch),
[type="checkbox"]:not(.switch) {
	background-size: 60% 60% !important;
	height: 1.2rem !important;
	width: 1.2rem !important;
	border-radius: 0.35em !important;
}

/* [name=btSelectItem],
[name=btSelectAll] {
	border: 0;
	background-color: var(--kt-form-check-input-bg-solid);
	height: 1.55rem;
	width: 1.55rem;
	margin: 0;
	float: none;
	flex-shrink: 0;
} */

[name="btSelectItem"]:checked[type="checkbox"],
[name="btSelectAll"]:checked[type="checkbox"] {
	background-image: var(--kt-form-check-input-checked-bg-image);
	/* background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 11' width='13' height='11' fill='none'%3e%3cpath d='M11.0426 1.02893C11.3258 0.695792 11.8254 0.655283 12.1585 0.938451C12.4917 1.22162 12.5322 1.72124 12.249 2.05437L5.51985 9.97104C5.23224 10.3094 4.72261 10.3451 4.3907 10.05L0.828197 6.88335C0.50141 6.59288 0.471975 6.09249 0.762452 5.7657C1.05293 5.43891 1.55332 5.40948 1.88011 5.69995L4.83765 8.32889L11.0426 1.02893Z' fill='%23ffffff'/%3e%3c/svg%3e); */
}

[name="btSelectItem"]:checked,
[name="btSelectAll"]:checked {
	background-color: var(
		--kt-form-check-input-checked-bg-color-solid
	) !important;
	/* background-color: var(--kt-form-check-input-checked-bg-color);
	border-color: var(--kt-form-check-input-checked-border-color); */
}

[name="btSelectItem"],
[name="btSelectAll"] {
	float: left;
	margin-left: -2.25rem;
	background-color: var(--kt-form-check-input-bg-solid) !important;
	/* background-color: var(--kt-form-check-input-bg); */
	/* border: var(--kt-form-check-input-border); */
	width: 1.75rem;
	height: 1.75rem;
	margin-top: -0.125rem;
	vertical-align: top;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	/* border: 1px solid #e4e6ef; */
	appearance: none;
	print-color-adjust: exact;
}

.bs-checkbox .th-inner {
	display: flex;
	align-items: center;
}

/* ! ripple */
.ripple {
	background: var(--kt-gray-500);
}

/* ! bootstrap table */
.bootstrap-table .fixed-table-container .table thead th .th-inner.sortable {
	padding-right: 20px !important;
}

.bootstrap-table .fixed-table-container .fixed-table-body::-webkit-scrollbar {
	height: 9px;
}

.table-responsive {
	overflow-x: hidden;
}

/* * metronic */
[data-theme="light"] .table {
	--bs-table-hover-bg: var(--kt-white) !important;
	/* --bs-table-hover-color: var(--kt-dark-inverse) !important;
    --bs-table-hover-bg: #474E68 !important; */
}

[data-theme="dark"] .table {
	--bs-table-hover-bg: var(--kt-dark-inverse) !important;
	/* --bs-table-hover-color: var(--kt-dark-inverse) !important;
    --bs-table-hover-bg: #EEEEEE !important; */
}

.table.border {
	border-radius: 7px;
}

.table td {
	white-space: nowrap;
}

.wrap {
	white-space: normal !important;
}

/* * toolbar */
.bootstrap-table .fixed-table-toolbar {
	/* margin-top: 15px; */
	margin-bottom: 15px;
}

.bootstrap-table .fixed-table-toolbar .float-right,
.bootstrap-table .fixed-table-toolbar .float-left {
	/* margin-top: 1rem !important; */
	margin-bottom: 0.375rem !important;
}

.bootstrap-table .fixed-table-toolbar .columns {
	margin-left: 0.75rem;
}

/* * search */
.bootstrap-table .fixed-table-toolbar .search .search-input {
	/* position: relative; */
	padding-left: 3rem !important;
}

.bootstrap-table .fixed-table-toolbar .search::after {
	content: "\F52A";
	font-family: "bootstrap-icons";
	display: block;
	color: var(--kt-gray-700);
	position: absolute;
	left: 15px;
	top: 7px;
}

/* * table header */
.bootstrap-table .fixed-table-container .table thead th {
	padding-top: 0.5rem !important;
	padding-bottom: 0.5rem !important;
	font-weight: bolder;
	text-transform: uppercase;
	color: var(--kt-gray-600);
}

.bootstrap-table .fixed-table-container .table thead th,
.bootstrap-table .fixed-table-container .table tbody td {
	padding-left: 1.5rem !important;
	padding-right: 1.5rem !important;
}

.bootstrap-table .fixed-table-container .table tbody td label {
	padding: 0;
}

.bootstrap-table .fixed-table-container .table thead th .th-inner {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/* * table fullscreen */
.bootstrap-table.fullscreen {
	padding: 5rem !important;
	background-color: var(--kt-app-bg-color);
}

/* * table pagination */
.bootstrap-table .fixed-table-pagination {
	margin-top: 7px;
}

/* * table no data */
.bootstrap-table .no-records-found {
	color: var(--kt-gray-800);
	font-size: 1.3rem;
	font-weight: 600;
}

.bootstrap-table .no-records-found .animated {
	width: 40% !important;
}

/* * loading */
.bootstrap-table .fixed-table-container .fixed-table-body .fixed-table-loading {
	background-color: var(--kt-table-bg);
}

@media only screen and (max-width: 1500px) {
	.text-transaction {
		font-size: 1.5vw !important;
	}
}

@media only screen and (max-width: 992px) {
	.text-transaction {
		font-size: 3.2vw !important;
	}
}

@media only screen and (max-width: 474px) {
	.text-transaction {
		font-size: 5vw !important;
	}

	.bootstrap-table .fixed-table-pagination {
		text-align: center;
	}

	.bootstrap-table .fixed-table-pagination .pagination,
	.bootstrap-table .fixed-table-pagination .pagination-detail {
		width: 100%;
	}

	.bootstrap-table .fixed-table-toolbar .bs-bars,
	.bootstrap-table .fixed-table-toolbar .columns,
	.bootstrap-table .fixed-table-toolbar .search {
		width: 100%;
	}

	.bootstrap-table.fullscreen {
		padding: 2rem !important;
	}
}
